h2 {
    font-family: Helvatica;
    font-size: 32px;
    font-weight: bold; 
  }
  
  #banner {
      font-family: Helvetica;
      font-size: 100px;
      font-weight: bold;
      color: khaki;
      text-align: center;
      background-image: url("../Images/pattern.webp");
      position: relative;
      display: block;
      top: -35px;
  }

  #brushes-title {
      font-family: Helvatica;
      font-size: 32px;
      font-weight: bold;
      color: white;
      background-color: mediumspringgreen;
      width: 1200px;
      margin: auto;
  }

  .item {
      text-align: center;
  }
  
  .cost {
      font-family: Helvatica;
      font-weight: bold;
      color: blue;
  }
  
  #frames {
      background-color: lightcoral;
      color: white;
      width: 1200px;
      margin: auto;
  }
  
  #paint {
      background-color: skyblue;
      color: white;
      width: 1200px;
      margin: auto;
  }
