h2 {
  font-family: Helvatica;
  font-size: 32px;
  font-weight: bold; 
}

#banner {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../Images/pattern.webp");
}

#brushes-title {
    font-family: Helvatica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
    margin-top: 100px;

}

.cost {
    font-family: Helvatica;
    font-weight: bold;
    color: blue;
}

#frames {
    background-color: lightcoral;
    color: white;
}

#paint {
    background-color: skyblue;
    color: white;
}